.bg-gray
    background-color #c9c9c9
    padding 1rem
    
.scroll__graphic.is-fixed
    position sticky!important

.scroll__graphic.is-bottom
	bottom 0!important
	top auto!important
	
.step.is-active
    opacity 1!important